header, footer {
    text-align: center;
    margin-top: 10vh;
}

main {
    margin-top: 50px;
}

footer {
    height: 200px;
}

#word-cloud {
    margin: 30px 0;
}

.list-img {
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out; */
}